black
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
lckr-jupyterlab-variableinspector
jupyterlab_widgets
ipywidgets
import-ipynb
numpy
pandas
scipy
scikit-learn
pycaret
matplotlib
japanize_matplotlib
mlxtend
seaborn
plotly
requests
beautifulsoup4
Pillow
opencv-python
pydeps
graphviz
pandas_profiling
shap
umap
xgboost
lightgbm
esptool
selenium
